:root {
  --main-color: #c4b797;
}
body {
  overflow: hidden;
  display: flex;
}
img {
  height: 100vh;
}
.form-section div {
  flex: 0.5 auto;
}
#title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 4rem;
  margin-right: 10rem;
}
h1 {
  font-size: x-large;
}
.form-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
form {
  background-color: var(--main-color);
  height: 10rem;
  display: flex;
  gap: 1rem;
  padding: 5rem;
  padding-top: 3rem;
  color: aliceblue;
}

label,
input {
  display: block;
}
label {
  font-size: large;
}
input {
  background-color: var(--main-color);
  margin-bottom: 2rem;
  border-radius: 6px;
  border: 1px solid aliceblue;
}
