body {
  overflow: hidden;
  display: flex;
}
img {
  height: 100vh;
}
.form-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  background-color: aqua;
  width: 70%;
  height: 10rem;
  display: flex;
  gap: 10rem;
  padding: 5rem;
}
.form-section div {
  height: 100%;
}
label,
input {
  display: block;
}
input {
  margin-bottom: 2rem;
}
